/* .header{
    background: url('../../assets/img/bg-banner03.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 630px;
    position: relative;
}

.bg-color{
    
    background-color:rgba(0,0,0,0.67);
    min-height:650px;
} */
/* 
.navbar{
    background-color:black;
    border: 0px;
    padding:10px 0;
    transition: all 0.3s;
}

.navbar-brand{
    font-size:30px;
    font-family: 'Satisfy',cursive;
    margin: 0 0 0 150px;
}

.navbar-nav{
    margin: 0 150px 0 0 ;
}

.nav-item{
    margin-right: 20px;
}

.nav-item>a{
    font-size:14px;
    font-weight: 400;
    color:#fff;
    outline:none;
}

.nav-item>a:hover, .nav-item>a:focus{
    color:#bfd159;
    background-color: transparent;
} */

header{
    padding-bottom: 5em;
    background-size: cover;
}



nav .navbar-brand{
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    
}

nav > ul li a{
    padding-bottom: 5px;
    color:#000;
    position: relative;
    font-weight: 400;
}

