.bg-overlay{
    background: url('../../assets/img/port03.jpg') fixed;
    background-size:cover;
    position: relative;
    min-height:500px;
    
}

.bg-overlay-2{
    background: url('../../assets/img/port02.jpg') fixed;
    background-size:cover;
    position: relative;
    min-height:500px;
    
}


.overlay{
    background-color: rgba(0,0,0,0.67);
    min-height:500px;
}

.wrapper-message{
    color: white;
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

section {
	position: relative;
}

section.padding{
    padding:20px;
}

section.bg-grey {
	background-color: #f9f9f9;
}
section .section-title {
	font-size: 34px;
}

section .section-lead {
	font-size: 18px;
	font-weight: 200;
	margin-top: 15px;
}

.direct-button{
    font-size:25px;
    margin:20px 0;
}

agm-map{
    height:400px;
    padding: 10px;
    
}