<section id="myRates" class="section-padding">
  <div class="container"  >
      <div class="col-md-12 title text-center">
              <h2>Our prices</h2>
      </div>
      <div class="row service-form flipInX">
          <div class="col-md-4 text-top service-type">
              Bridal
          </div>
          <div class ="col-md-8 text-left service-price">
              <p>Bride: $270</p>
              <p>Includes:</p>
              <ul>
                  <li>Consultation</li>
                  <li>Day-of make up</li>
              </ul>
          </div>
       </div> 
      <hr/>
      <div class="row service-form flipInX">
              <div class="col-md-4 text-top service-type">
                  Lessons
                  </div>
                  <div class ="col-md-8 text-left service-price">
                      <p>Bride: $270</p>
                      <p>Includes:</p>
                      <ul>
                          <li>Consultation</li>
                          <li>Day-of make up</li>
                      </ul>
                  </div>
              </div> 
  </div>
</section>
