#myRates{
    background-color: #dddfd1;
}

.title{
    font-size: 24px;
    margin-bottom: 50px;
}

.section-padding{
    padding:60px 0px;
}

.service-form{
    padding-left: 50px;
}

.service-type{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    color: #232513;
}

.service-price{
    font-family: "Comic Sans MS", cursive, sans-serif;

}

.flipInX{
    animation-duration: 2s;
}