<section class="bg-overlay">
    <div class="overlay">
        <div class="row justify-content-md-center">
            <div class="wrapper-message">
                <h1>Beauty</h1>
            </div>
        </div>
    </div>
</section>
<hr/>
<div class= "container " >
    <div class="row">
        <div class="col-md-12">
            <p><img style="padding-right: 40px;" src="../assets/img/image_123986672.JPG" alt="" width="400" align="left" /></p>
        
            <h6>About Lareina: </h6><br><br>
            <p>A veritable artist whose calling is to reveal the sparkle and inner glow in everyone, Jasmine Hoffman is an expert of her trade. With more than 16 years experience and an impressive resume, having worked with celebrities such as Katy Perry, Halle Berry, Selma Blair, Jessica Alba, Kelly Osbourne, Jessi Cruickshank from MTV Canada, Amanda Bines and Bif Naked.</p><br>
            <p>Jasmine&#8217;s acclaim comes, in part, from her unique ability to highlight the most spectacular features of each client to reveal their beautiful selves. She loves making brides feel gorgeous for the most important day of their lives, including for destination weddings anywhere in the world. Jasmine is highly skilled in makeup application for graduates, film, TV, fashion shoots and special occasions. She discovered her love for makeup and skin care early in life, then graduated from the Vancouver Film School for television and film in 2000, where she honed her skills into a personal masterpiece.</p><br>
            <p>Since then, Jasmine has worked on countless projects, including the most glamorous weddings and elite photoshoots. Her exquisite work has been published by well-respected blogs and wedding magazines around the world. She uses only the highest-quality beauty products on the market, such as Shu Uemura, Makeup Forever, MAC and Stila, for a flawlessly beautiful look, every time. Whether it&#8217;s for a wedding, a boudoir photoshoot or just a girls&#8217; night out, Jasmine&#8217;s consistently creates a positively breathtaking image. Her studio is located in the fabulous Yaletown neighborhood of Vancouver, Canada.</p><br>
            <p>Jasmine&#8217;s true makeup artistry will make you sparkle, inside and out!</p>
            
        </div>
        </div>
</div>

    