<h2>Shopping Cart</h2>
<hr/>
<div class="container cart">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of cart">
        <tr>
          <th scope="row"><img [src]="item.imgUrl"  class="img-fluid" style="height:200px ;width:200px"></th>
          <td><h3>{{item.name}}</h3><p>{{item.description}}</p></td>
          <td>{{item.price*item.amount}}</td>
          <td>
            {{item.amount}} &nbsp;&nbsp;&nbsp; 
            <button class="btn btn-success" (click)="onAdd(item)">Add</button>
            <button class="btn btn-danger" (click)="onDelete(item)">Delete</button>
          </td>
          
        </tr>
        </tbody>
        </table>
</div>