.title{
    font-size: 24px;
    margin-bottom: 50px;
}

.title-text{
    padding:0px 25px 0px 0px;
    border-right: 5px solid #BE2525;
    font-size: 24px;
}

#portfolio{
    background-color: #f0f1e9;
}

.section-padding{
    padding:60px 0px;
}

.grid-padding{
    padding:0 8px;
}

.grid-padding img{
    margin-bottom: 15px;
}

.padding-right-zero{
    padding-right:0px !important;
}

#myGrid{
    margin-top: 50px;
}

.fadeInRight{
    animation-duration: 2s;
}

/* .arrow-back, .arrow-forward{
	position:absolute;
	opacity:0.9;
	background-color:black;
	padding:10px;
	top:190;
	color:white;
	text-weight:bold;
	cursor:pointer;
} */
 
.arrow-back{
    position: absolute;
    background-color: grey;
    top:250px;
    left: 0px;
    padding:4px;
    cursor: pointer;
    
} 

.arrow-forward{
    position: absolute;
    background-color: grey;
    top:250px;
    padding:4px;
    right:0;
    cursor: pointer;
    float: right ;
}
