<div class="cos-container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let cosme of cosmetics" >
      <a  class="card-item" [routerLink]="[cosme.name]">
        <figure>
            <img [src]="cosme.imgUrl" alt="cosmetic" class="img-fluid">
        </figure>
        <div class="card-text">
          <h2>{{cosme.name}}</h2>
          <p>Price: ${{cosme.price}}</p>
          <p><span class="btn btn-primary">Learn More</span></p>
        </div>
      </a>
    </div>
  </div>
</div>